
h1,h2{
text-align:center;

}

h3{
text-align:center;
border-bottom:1px solid black;
margin-bottom:

}
article{
background-color:silver;
}

h4{
background-color:white;
border-bottom:2px solid black ;
}
